body{
    background-image: url("./tic-tac-toe.png");
    font-family: 'Itim', cursive;
}
.header{
    background-color: rgb(255, 255, 255);
    background-image: none;
    margin-top: 25px;
    margin-left: 14.5%;
    width: 70%;
    height: 10vh;
    box-shadow: 2px 5px 30px rgba(0,0,0,0.2);
    border-radius: 1rem;
    display: flex;
}
.searchbar{
    background-image: none;
    border-radius: 20px;
    height: 30px;
    margin-left: 5rem;
    margin-right: 4rem;
    margin-top: 1.2rem;
    width: 25rem;
    outline: none;
}
.acc{
    width: 65px;
    height: 65px;
    border-radius: 1rem;
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 1rem;
    background-image: none;
}
li{
    list-style-type: none;
}
.header li{
    margin-right: 10px;
    font-size: 150%;
    margin-top: 25px;
    margin-left: 3rem;
    background-image: none;

}
.header li:hover{
    cursor: pointer;
}
.logo{
    width: 65px;
    height: 65px;
    border-radius: 1rem;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 4rem;
}
.row{
    display: flex;
    justify-content: center;
    /* margin-bottom: 2rem; */
}
.card{
    width: 15rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    margin: 5rem;
    margin-bottom: 5px;
    border-radius: 2rem;
    box-shadow: 2px 5px 30px rgba(0,0,0,0.2);
}
.card:hover{
    cursor: pointer;
}
.card-img{
    height: 15rem;
    border-radius: 1rem;
    margin-top: 20px;
    margin-left: 2rem;
}
.card h4{
    margin-left: 7rem;
}

.view-more{
    display: flex;
    justify-content: center;
    margin-left: 18rem;
    width: 60%;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 2px 5px 30px rgba(0,0,0,0.2);
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.view-more:hover{
    cursor: pointer;
}

.winter-collection{
    width: 70%;
    height: 45vh;
    background-color: white;
    margin-top: 4rem;
    margin-left: 13.5rem;
    box-shadow: 2px 5px 30px rgba(0,0,0,0.2);
    border-radius: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background-repeat: no-repeat;
}
.imgw{
    width: 69.3vw;
    height: 100%;
    border-radius: 2rem;
    /* margin-left: 2px; */
}


.footer{
    height: 50vh;   
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.993);
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
}

.Company{
    margin-left: 12rem;
    padding-top: 2.3rem;
}

.stuffs{
    margin-bottom: 0.5rem;
    color: white;
    margin-right: 20px;
    font-size: 1rem;
}
.stuffs:hover{
    cursor: pointer;
}

.legal-stuff{
    display: flex;
    margin-top: 15rem;
    position: absolute;
    margin-left: 12rem;
}
.legal-stuffs{
    color:gainsboro;
    margin-right: 100px;
}
.legal-stuffs:hover{
    cursor: pointer;
}

.social-media{
    margin-top: 4rem;   
    margin-left: 15rem;
}
/* .social-media i{
    margin: 3rem;
}
i:hover{
    cursor: pointer;
} */
.Buy-button{
    position: relative;
    margin-top: 1rem;
}
.Buy-button:hover{
    cursor: pointer;
}